/* * {
    border: 1px solid red;
} */

body {
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: center;
}

h1, .btn {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn {
    background-color: #64a19d;
    color: white;
    font-size: 80%;
    height: 50px;
    width: 150px;
}

.btn:hover {
    background-color: #558985;
}

.fa-regular {
    font-size: 45px;
    margin-left: 30px;
    margin-right: 30px;
}

.fade {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: fade;
}


.navbar {
    padding: 25px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.navbar-brand:hover, .nav-link:hover {
    filter: brightness(0.75);
}

#brand {
    height: 45px;
}

#check:hover {
    color: #77dd77;
    cursor: pointer;
}

#demo {
    max-width: 1500px;
    width: 80%;
}

#demo, #intro {
    left: 50%;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#description {
    font-size: 16px;
    margin: auto;
    margin-bottom: 60px;
    width: 90%;
}

#drawing-canvas {
    border-radius: 30px;
    margin: 30px;
}

#easy {
    max-width: 400px;
    width: 64%;
}

#icons {
    margin-bottom: 80px;
}

#intro-img {
    margin-bottom: 40px;
}

#snap {
    max-width: 500px;
    width: 80%;
}

#trash:hover {
    color: #ff6961;
    cursor: pointer;
}

#try {
    margin-bottom: 80px;
    margin-top: 20px;
}

#upload {
    color: white;
    margin-top: 40px;
    width: 500px;
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
