/* * {
    border: 1px solid red;
} */

body {
    color      : white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align : center;
}

h1,
.btn {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width      : 80%;
}

video {
    display: none;
}

.btn {
    background-color: #64a19d;
    color           : white;
    font-size       : 80%;
    height          : 50px;
    width           : 150px;
}

.btn:hover {
    background-color: #558985;
}

.description {
    font-size    : 16px;
    margin       : auto;
    margin-bottom: 40px;
    width        : 90%;
}

.fa-regular {
    font-size   : 45px;
    margin-left : 30px;
    margin-right: 30px;
}

.fade {
    animation-duration : 0.5s;
    animation-fill-mode: forwards;
    animation-name     : fade;
}

.metrics-description {
    margin-top: 20px;
    max-width : 800px;
    width     : 80%;
}

.navbar {
    padding: 25px;
    width  : 100%;
}

.navbar-brand:hover,
.nav-link:hover {
    filter: brightness(0.75);
}

.team-member {
    margin-bottom: 50px;
    width        : 400px;
}

.team-member>a>img {
    border-radius: 10%;
    margin-bottom: 25px;
    margin-top   : 10px;
    width        : 150px;
}

.team-member > p {
    margin-left : auto;
    margin-right: auto;
    width       : 80%;
}

#bottom-description {
    margin-bottom: 60px;
}

#brand {
    height: 45px;
}

#camera-icon {
    cursor: pointer;
    font-size: 45px;
    margin-right: 20px;
}

#camera-icon:hover {
    filter: brightness(0.75);
}

#check:hover {
    color : #77dd77;
    cursor: pointer;
}

#about, #demo, #intro, #metrics {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top   : 20px;
    width         : 100%;
}

#drawing-canvas {
    border-radius: 30px;
    margin       : 30px;
    width        : 80%;
    height       : 350px;
}

#easy {
    max-width: 400px;
    width    : 64%;
}

#icons {
    margin-top: 10px;
    margin-bottom: 50px;
}

#image-bar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
}

#intro-img {
    margin-bottom: 40px;
}

#metrics-bottom {
    margin-bottom: 60px;
}

#model-img {
    margin-bottom: 40px;
    margin-top   : 40px;
    max-width    : 600px;
    width        : 80%;
}

#result {
    font-size    : 20px;
    margin-bottom: 60px;
}

#snap {
    max-width: 500px;
    width    : 80%;
}

#team {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
}

#trash:hover {
    color : #ff6961;
    cursor: pointer;
}

#try {
    margin-bottom: 60px;
    margin-top   : 20px;
}

#upload {
    color: white;
    max-width: 500px;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 10px;
    width        : 80%;
}

#upload::file-selector-button {
    padding      : 0.5em 0.75em;
    border       : thin solid #212529;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 15px;
}


@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media (max-width: 406px) {
    #camera-icon {
        margin-bottom: 30px;
        margin-left: 20px;
    }
}

@media (max-width: 800px) {
    .p2 {
        margin-top: 20px;
    }
}
