/* * {
    border: 1px solid red;
} */

body {
    color: white;
    padding: 10px;
    text-align: center;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, .btn {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn {
    height: 50px;
    width: 150px;
    background-color: #64a19d;
    color: white;
    font-size: 80%;
}

.btn:hover {
    background-color: #558985;
}

#try {
    margin-top: 35px;
}

#description {
    max-width: 600px;
    margin: auto;
}

#intro {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

#intro, nav {
    animation-name: fade;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#intro-img {
    margin-bottom: 35px;
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
