/* * {
    border: 1px solid red;
} */

body {
    color: white;
    text-align: center;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar {
    padding: 25px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

h1, .btn {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn {
    height: 50px;
    width: 150px;
    background-color: #64a19d;
    color: white;
    font-size: 80%;
}

.btn:hover {
    background-color: #558985;
}

#try {
    margin-bottom: 80px;
}

#description {
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
    font-size: 14px;
}

#intro, #demo {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

#intro, nav, #demo {
    animation-name: fade;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#intro-img {
    margin-bottom: 40px;
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.nav-link:hover, .navbar-brand:hover {
    filter: brightness(0.75);
}

#snap {
    max-width: 500px;
    width: 80%;
}

#easy {
    max-width: 400px;
    width: 64%;
}

#brand {
    height: 45px;
}

#demo {
    max-width: 500px;
    width: 80%;
}

#demo-submit {
    margin-top: 50px;
}

#demo-upload {
    margin-top: 30px;
    color: white;
}
