{% extends 'layout.html' %}

{% block head %}
    <title>About Us - ScribblScan</title>
{% endblock %}

{% block body %}
    <div class="fade" id="about">
        <h1>About Us</h1>
        <p class="description">
            ScribblScan bridges the gap between traditional and digital note-taking.
            <br>
            Made with ♥️ at <a href="https://www.ai-camp.org/" target="_blank">AI Camp</a>.
        </p>

        <div id="team">
            <div class="team-member">
                <h4>Alessia Ait-Azzouzene</h4>
                <img src="{{ url_for('static', filename='ai-camp-logo.png') }}">
                <p>Project Manager / Front-end Developer</p>
            </div>

            <div class="team-member">
                <h4>Nicholas Evans</h4>
                <img src="{{ url_for('static', filename='nick.jpg') }}">
                <p>Project Manager / Front-end Developer</p>
            </div>

            <div class="team-member">
                <h4>Eric Vo</h4>
                <img src="{{ url_for('static', filename='eric.jpg') }}">
                <p>Full-stack Developer</p>
            </div>

            <div class="team-member">
                <h4>Seung-min Yu</h4>
                <img src="{{ url_for('static', filename='ai-camp-logo.png') }}">
                <p>Video Editor / Back-end Developer</p>
            </div>

            <div class="team-member">
                <h4>Jasmine Kaur</h4>
                <img src="{{ url_for('static', filename='jasmine.png') }}">
                <p>Video Editor</p>
            </div>

            <div class="team-member">
                <h4>Vignesh Prakash</h4>
                <img src="{{ url_for('static', filename='vignesh.jpg') }}">
                <p>Team Instructor / Mentor</p>
            </div>
        </div>
    </div>
{% endblock %}
