{% extends 'layout.html' %}

{% block head %}
    <script src="{{ url_for('static', filename='js/demo.js') }}"></script>
    <script src="https://unpkg.com/webcam-easy@1.1.1/dist/webcam-easy.min.js"></script>
    <title>Demo - ScribblScan</title>
{% endblock %}

{% block body %}
    <div class="fade primary-box">
        <h1>Start drawing or use an image.</h1>

        <video autoplay id="webcam" playsinline>
        </video>

        <div id="image-bar">
            <i class="fa-solid fa-camera" id="camera-icon"></i>
            <input accept="image/png, image/jpeg" class="bg-dark" id="upload" type="file">
        </div>
        <div>
            <input type="checkbox" id="multiple-lines" name="multiple-lines">
            <label for="multiple-lines">Scan for multiple lines (experimental)</label>
        </div>

        <canvas id="drawing-canvas" class="bg-dark">
        </canvas>

        <div id="icons">
            <i class="fa-regular fa-trash-can" id="trash"></i>
            <i class="fa-regular fa-circle-check" id="check"></i>
        </div>

        <h2 id="result">
            Scribble. Snap. Scanned.
        </h2>
    </div>
{% endblock %}
