{% extends 'layout.html' %}

{% block head %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <title>ScribblScan</title>
{% endblock %}

{% block body %}
    <div class="fade" id="intro">
        <div id="intro-img">
            <img alt="Scribble. Snap." class="intro" id="snap" src="{{ url_for('static', filename='img/intro.png') }}">
            <br><br>
            <img alt="It's that easy." class="intro" id="easy" src="{{ url_for('static', filename='img/easy.png') }}">
        </div>

        <button class="btn" id="try">TRY IT OUT</button>

        <p class="description">
            Digitize notes with ease.
        </p>
    </div>
{% endblock %}
