{% extends 'layout.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <div id="intro">
        <div id="intro-img">
            <img class="intro" id="snap" src="static/intro.png" alt="Scribble. Snap.">
            <br><br>
            <img class="intro" id="easy" src="static/easy.png" alt="It's that easy.">
        </div>

        <button class="btn" id="try">TRY IT OUT</button>
        
        <p id="description">
            Switching from pen and paper to digital is a breeze.
        </p>
    </div>
{% endblock %}