{% extends 'layout.html' %}

{% block head %}
    <title>Tech & Metrics - ScribblScan</title>
{% endblock %}

{% block body %}
    <div class="fade" id="metrics">
        <h1>Technology & Metrics</h1>
        <div class="metrics-description">
            Our model is based off of <a href="https://huggingface.co/microsoft/trocr-base-handwritten">Microsoft's TrOCR</a>,
            an encoder-decoder model with a vision transformer encoder and a classic text transformer decoder.
        </div>

        <img alt="TrOCR architecture" id="model-img" src="{{ url_for('static', filename='img/architecture.png') }}">

        <br><br>
        <div class="metrics-description" id="metrics-bottom">
            We fine-tuned our model on the <a href="https://fki.tic.heia-fr.ch/databases/iam-handwriting-database">IAM Handwriting Database</a> to improve its performance on handwritten text.
            <div id="error-rate">
                With a training length of <strong>3 epochs</strong>,
                we were able to reduce our character error rate to <strong>8.6%</strong>.
            </div>
        </div>
    </div>
{% endblock %}
