{% extends 'layout.html' %}

{% block head %}
    <title>About Us</title>
{% endblock %}

{% block body %}
    <div class="fade" id="demo">
        <h1>Technology and Metrics</h1>
        <div style="margin: 30px; max-width: 1000px;">
            <p style="margin:30px;">Our model is based on Microsoft's TrOCR, an encoder-decoder model that uses a vision Transformer as an encoder and a classic text Transformer as a decoder. Using a text Transformer as a decoder allows TrOCR to leverage an understanding of natural language in its transcriptions.</p>
            <img style="width:65%;height:auto;" alt="TrOCR architecture" src="https://huggingface.co/datasets/huggingface/documentation-images/resolve/main/trocr_architecture.jpg"></img>
            <p style="margin:30px;">We fine-tuned TrOCR on the IAM Handwriting Database to improve its performance on handwritten text. By training for 3 epochs using HuggingFace's Transformers library, we were able to achieve a character error rate of <b>8.6%</b>, a training loss of <b>0.29</b>, and an evaluation loss of <b>0.8.</b></p>
            <img style="width:65%;height:auto;" alt="Graph of Training Loss" src="{{ url_for('static', filename='training_loss_graph.png') }}">
        </div>
    </div>
{% endblock %}
